<h2>Sign Up</h2>

<div class="grid-container new-user">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :first_name, "First Name" %><br />
    <%= f.text_field :first_name, placeholder: "First Name", autofocus: true, autocomplete: "first-name" %>
  </div>

  <div class="field">
    <%= f.label :last_name, "Last Name" %><br />
    <%= f.text_field :last_name, placeholder: "Last Name", autofocus: true, autocomplete: "last-name" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up", :class => "button" %>
  </div>
  <% end %>

  <div class="devise">
    <%= render "devise/shared/links" %>
  </div>
</div>
